.cardCharizard {
  width: 250px;
  height: 400px;
  text-align: center;
  display: grid;
  grid-template: 50px 1fr 50px / 1fr;
}

.cardImg{
  display: flex;
  justify-content: center;
  align-items: center;
}